:root {

    --color-1: #B9B1A9;
    --color-2: #41487D;
    --color-3: #201D2C;
    --color-4: #4F5DAA;
    --color-5: #68A5A6;

    --color-1: #B9B1A9;
    --color-1-fuerte: #a39ba2;
    --color-1-fuerte-2: #8d8786;

    --color-2: #41487D;
    --color-2-oscuro-fuerte: #393e6a;
    --color-2-oscuro-fuerte-2: #313457;

    --color-3: #201D2C;
    --color-3-fuerte: #1a1925;
    --color-3-fuerte-2: #15141c;

    --color-4: #4F5DAA;
    --color-4-fuerte: #485696;
    --color-4-fuerte-2: #414d82;

    --color-5: #68A5A6;
    --color-5-fuerte: #639da3;
    --color-5-fuerte-2: #589590;

    }

*{
    color: #68A5A6;
}

/*-------------------NavBar-------------------*/
#offcanvasNavbar{
    transition: 0.30s;
    background: rgb(21,20,28);
    background: linear-gradient(90deg, rgba(21,20,28,1) 0%, rgba(21,20,28,0.7798594847775175) 53%, rgba(21,20,28,0.5035128805620609) 100%);
}
#logoNav{
    transition: transform 0.3s ease;
}
#logoNav:hover{
    transform: rotate(360deg); 
}

#navbar{
    background-color:#201D2C;
}

.loginBtn{
    -webkit-box-shadow: -1px 13px 23px -5px rgba(79, 93, 170, 1);
-moz-box-shadow: -1px 13px 23px -5px rgba(79, 93, 170, 1);
box-shadow: -1px 13px 23px -5px rgba(79, 93, 170, 1);
    
}
.borderR{
    border-radius: 30px 0px 0px 0px;
}
.accountG{
    background-color: #15141c;
}

.pTop{
    padding-top: 1px;
}



.hoverLogin {
    text-decoration-line: none;
}
.hoverLogin:hover{
    text-decoration: underline;
}

.inputLogin{
    background-color:#313457;
    color: #68A5A6;
}
.inputLogin2{
    background-color:#201D2C;
}

.inputLogin:focus {
    background-color: #201D2C;
    color: #68A5A6;
}

.inputLogin::placeholder {
    color: #68A5A6;
}

.textHeader{
    color: #68A5A6;
}

/*Transcition*/
.modal-dialog {
    transform: translateX(100%);
    transition: transform 0.7s;
}

.modal.show .modal-dialog {
    transform: translateX(0);
}

/*//Transcition*/
/* modal register*/
.modal-body{
    background-color: #15141c; 
}
.modal-header{
    background-color: #15141c;
    color: #68A5A6; 
    transition: background-color 0.3s ease;
}
.modal-header:hover{
    background-color: #68A5A6;
    color: #15141c;
    
}
.exampleModal{
    -webkit-box-shadow: -1px 13px 23px -5px rgba(79, 93, 170, 1);
-moz-box-shadow: -1px 13px 23px -5px rgba(79, 93, 170, 1);
box-shadow: -1px 13px 23px -5px rgba(79, 93, 170, 1);
}
.form-control{
    background-color:#313457;
    color: #68A5A6;
}
@keyframes border-animation {
    0% {
      border-color:#68A5A6;
    }
    50% {
      border-color:#6a5b72; 
    }
    100% {
      border-color:#86b2cc;
    }
  }
.modal-content {
    width: 496px;
    height: 580px;
    border: 2px solid #68A5A6;
    border-radius: 10px;
    animation: border-animation 2s infinite;}


.dropdown-menu{
    background:#393e6a
}

@media (max-width: 750px){
    #logoNav{
        width: 10vw;
    }
}
@media (min-width: 750px){
    #logoNav{
        width: 5vw;
    }
}

body{
    background-color: #15141c;
}




.bkgDegBlue{
    background: rgb(57,62,106);
    background: linear-gradient(90deg, rgba(57,62,106,1) 0%, rgba(57,62,106,0.730679156908665) 53%, rgba(57,62,106,0.522248243559719) 100%);
}

.navbar-toggler{
    background-color:#4F5DAA;
}

.nav-item i{
    font-size: 30px;
}

